2Trim/XSD/car.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="car" type="carType"/>
    <xs:complexType name="carType">
        <xs:sequence>
            <xs:element name="manufacturer" type="xs:string" />
            <xs:element name="model" type="xs:string" />
        </xs:sequence>
            <xs:attribute name="registration" use="required" />
    </xs:complexType>
</xs:schema>