2Trim/XSD/person2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person" type="personType"/>
    <xs:complexType name="personType">
        <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:element name="surname" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>

<!-- modificando o "element", finalizándoo na primeira liña e baixando o "complex" 
facemos que no haxa que poñer un novo element por cada novo complex, 
como si habería que facer con o person.xsd no que todos os novos person teñen que seguir a mesma estructuras-->